.otp-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .otp-input {
    width: 40px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    margin: 0 5px;
  }
  
  #submit-btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
  }
  